@charset "UTF-8";
/* CSS Document */

html,
html *{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	list-style-type: none;
	font-size: 20px;
}

header{
	padding:32px;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

body{
	margin-left:auto;
	margin-right: auto;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height:auto;
	width: 100vw;
	padding-top: 40px;
	color: #025E73;
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: calc(8px + 50%)
}

.style-nav ul{
	list-style-type: none;
}

.style-nav ul li a{
	text-decoration: none;
	color: #0388A6;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px 12px;
}

div.background {
  background-image: url("Images/JPG/GirlOrange.jpg");
  background-size: cover;
  padding: 20px 20px 30px 20px;
  color:#025E73;
  text-align: center;
  width:99%;
  margin: 20px 0px;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
}

h1{
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 200;
	font-weight: bold;
	margin-bottom: 50px;
}

h2{
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	font-weight: bold;
	margin-bottom: 23px;
}

h3{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 100px;
}

h4{
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
}

p{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 30px 10px;
}

p1{
	font-size:32px;
	font-weight: bold;
	padding: 40px 10px 80px;
}

.li{
	padding: 20px;
	font-weight: 100;
	font-stretch:expanded;
}

.button{
	border: 2px #0388A6 solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #0388A6;
	text-decoration: none;
	background-color: #ffffff;
}

.info-box-teal{
	background-color:#91D9D2 ;
	color:#025E73;
	padding: 30px 20px 30px;
	text-align: center;
	text-decoration: none;
	width:99%;
	margin: 0px 0px 30px;
}

.info-box-yellow{
	background-color: #eee171;
	color: #025e73;
	padding:30px 20px 10px;
	text-align: center;
	width:99%;
}

.info-box-teal1{
	background-color: #04adbf;
	color: #ffffff;
	padding: 30px 20px 60px;
	text-align: center;
	text-transform: none;
	margin:0px 0px 10px;
}

.info-box-teal2{
	background-color: #0388a6;
	color:#ffffff;
	padding: 30px 20px 60px;
	text-align: center;
	margin:0px 0px 10px;
}

.info-box-teal3{
	background-color: #025e73;
	color: #ffffff;
	padding: 30px 20px 60px;
	text-align: center;
	margin:0px 0px 20px;
}

.row:before, .row:after{
	content: "";
	display: table;
	}

.row:after {
	clear:both;
}

.col{
	width:100%;
}

/*Tablet View*/

@media (min-width: 768px){
	
	body{
		max-width:778px;
	}
	
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul{
		text-align: center;
	}
	
	h1{
		font-size:60px;
		margin-bottom: 60px;
	}
	
	h2{
	    font-size: 40px;
	    margin-bottom: 30px;
		
	}
	
	h3{
		font-size: 24px;
	}
	
	.button{
		padding: 8px 20px;
	}
	
	.col-md-one-third{
		width:33%;
	}
	
	.col{
		float:left;
		padding:0px 7px 14px;
	}
}


/*Desktop View*/

@media (min-width: 1024px){
	
	body{
		max-width: 1200px;
	}
	
	.style-logo{
		float: left;
	}
	
	.style-nav{
		float: right;
	}
}